<div class = 'container venueindex'>
	<h1>Welcome to the BandApp</h1>
	<h2>Create a Venue</h2>
	<h3>Or find an Venue to host an Event</h3>
	<h3>If you're a Band! Register for an Event!</h3>
</div>
<div class = 'container'>
	<div class = "row">
		<div class = "col">
			<h3>Venue</h3>
			<br>
			<% @venues.each do |t|%>
			<li>Name: <%= t.name %></li>
			<li>City: <%= t.city %></li>
			<li>State: <%=t.state %></li>
			<li>Family Friendly: <%=t.family_friendly%></li>
			<br>
			<%end%>
		</div>
		<div class = "col">
			<h1>Create a Venue!</h1>
		</div>
	</div>
</div>
