// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bandindex{
	text-align: center;
	background-color: white;
	font-family: 'Monoton', cursive;
}

.bandlist {
	background-color: white;
	width: 25%;
	font-family: 'Hammersmith One', sans-serif;
}

.editband{
	text-align:center;
}

.bandshow{
	text-align:center;
	background-color: white;
}

#bandimage{
	width: 50%;
	
}
