// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.editindex {
	text-align: center;
}

.editevent {
	text-align: center;
}

.newevent {
	display: inline;
	text-align: center;
}

.eventshow {
	text-align: center;
}