// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.guitar {
	height: 50px;
}

.venueindex {
	text-align:center;
	border: 1px solid black;
	background-color: white;
	font-family: 'Monoton', cursive;
}

li{
	list-style: none;
}

.venlist {
	border: 1px soid black;
	background-color: white;
	width: 25%;
	font-family: 'Hammersmith One', sans-serif;
}

.venshow {
	text-align: center;
}

.venevents{
	text-align: center;
}

.editvenue {
	text-align:center;
}